<div class="temperature">
    <div id="chart-area">
        <div id="header">PANOKONE 2020</div>
        <highchart id="chart1" config="vm.chartConfig"></highchart>
        <div id="current-program">
            <span>ZE CURRENT BROGRAM IZ: {{vm.currentProgram.name}} WITH DE STEP: </span>
        </div>
        
    </div>
    <div id="text-area">
        <div id="select-program">
            <select ng-options="program as program.name for program in vm.programs track by program.id" ng-model="vm.selectedProgram"></select>
            <br>
            <button data-ng-click="vm.setCurrentProgram()">Pane!</button>
            <button data-ng-click="vm.stopCurrentProgram()">Lopeta pano!</button>
        </div>
        <span class="temp">{{vm.temperatures[vm.temperatures.length - 1].temp | number: 1}}</span>
        <span class="temp-c">°C</span>
        <p>Kohde lämpötila: {{vm.temperatures[vm.temperatures.length - 1].desiredTemp}}</p>
        <div class="heatgroup">
            <span class="heating-text">Heating is:</span>
            <span data-ng-show="vm.power[0].state" class="heating-on">ON</span>
            <span data-ng-show="!vm.power[0].state" class="heating-off">OFF</span>
        </div>
        <div class="logoholder">
            <span class="power">POWERED BY</span>
            <img class="logo" src="img/logo.png" />
        </div>
    </div>
</div>
