.demo-container {
  main.md-padding {
    padding: 0;
  }

  .md-input-container {
    padding-bottom: 0;
    padding-left: 10px;
  }
}

.demo {
  margin: 0;
  padding: 0;

  .messages {
    border-top: none;
    border-bottom: none;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    padding: 0 10px;

    code {
      background-color: transparent;
    }

    .time {
      position: absolute;
      left: 5px;
    }

    .message {
      margin-left: 155px;
    }
  }

  .input-group {
    .form-control,
    .input-group-addon {
      &:first-child {
        border-top-left-radius: 0;
      }
    }

    .input-group-btn:last-child > .btn {
      border-top-right-radius: 0;
    }
  }
}

html {

}

.temperature {
  font-family: "Lato", Verdana;
  color: #fff;
  background: #000 url("../../img/bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#header {
  font-size: 7vw;
  padding: 2%;
  min-height: 75px;
}

.logo {
  width: 95%;
  height: 95%;
}

.chart {
  width: 95%;
  padding-left: 2%;
}

#chart-area {
  position: relative;
  float: left;
  width: 71%;
  height: 99%;
}

#select-program {
  height: 20%;
  min-height: 66px;
  padding: 12% 2% 2%;
}

#temperature-container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

#text-area {
  position: relative;
  float: left;
  width: 29%;
  height: 99%;
}

.temp {
  font-size: 11vw;
}

.temp-c {
  font-size: 4vw;
}

.heatgroup {
  font-weight: 200;
  margin-top: -7%;
}

.heating-text {
  font-size: 4vw;
}

.heating-on {
  font-size: 4vw;
  font-weight: 700;
  color: darkgreen;
}

.heating-off {
  font-size: 4vw;
  color: dimgrey;
}

.logoholder {
  margin-top: 7%;
}

.power {
  width: 95%;
  text-align: center;
  float: left;
}