<md-toolbar>
    <div class="md-toolbar-tools">
        <span>IoT</span>

        <md-button aria-label="About"
            data-ui-sref="about"
        >
            <i class="md-headline mdi mdi-information-outline"></i>

            about
        </md-button>

        <md-button aria-label="Demo"
           data-ui-sref="demo"
        >
            <i class="md-headline mdi mdi-checkbox-marked-outline"></i>

            demo
        </md-button>


        <!-- fill up the space between left and right area -->

        <span flex></span>
    </div>
</md-toolbar>
