@import "mixins";

html {

}

body {
    color: #fff;
  font-family: "Lato", Verdana;
  background: #000 url("/assets/img/bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 60px;
}

@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}

#header {
  font-size: 7vw;
  padding: 2%;
  color: lightgrey;
}

.logo {
  width: 100%;
  height: 100%;
}

.placeholder {
  border: 1px solid red;
}


#chart1 {

}


.temp {
  font-size: 10vw;
}

.temp-c {
  font-size: 4vw;
}

.heating-text {

}

.heating-on {

}

.heating-off {

}

.power {
  width: 100%;
  text-align: center;
}

.blink {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: blink;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    76% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
