*, *:before, *:after {
  box-sizing: inherit; }

html,
body {
  margin: 0;
  padding: 0; }

body {
  font-family: "Lato", sans-serif, Verdana;
  font-size: 16px;
  color: #fff;
  background: #000;
  margin-bottom: 100px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body::after {
  content: "";
  background-image: url("../assets/img/bg-dark.png");
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1; }

input {
  border-style: none;
  background: transparent;
  outline: none; }

.header-row {
  display: flex;
  align-items: center;
  margin: 16px 16px 0 16px; }
  .header-row h1 {
    font-size: 24px;
    margin: 0;
    letter-spacing: 3px; }
  .header-row .logo {
    width: 30px;
    padding: 3px;
    height: 30px;
    background: #353535;
    object-fit: cover;
    border-radius: 50%; }

h3 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 14px; }

h4 {
  margin: 0;
  padding: 0; }

.wrapper {
  display: flex;
  flex-flow: row wrap; }

.wrapper > * {
  flex: 1 100%; }

/* Large screens */
@media all and (min-width: 800px) {
  .main {
    display: flex;
    flex-direction: column;
    flex: 2 0;
    height: calc(100vh - 153px);
    max-width: calc(100% - 420px); }

  .sidebar {
    order: 1;
    max-width: 420px; } }
#hc_container {
  width: 100%; }
  @media (max-width: 800px) {
    #hc_container {
      width: calc(100% - 16px); } }

.card {
  margin: 16px 16px 0 16px;
  border: 1px solid #171B22;
  background: #1F252E;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  position: relative;
  z-index: 2; }
  .card .small-text {
    opacity: 0.67;
    font-size: 12px; }
  .card__header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    border-bottom: 1px solid #171B22;
    height: 32px;
    background: #171B22;
    padding: 16px; }
    .card__header .header-icon {
      margin-right: 16px;
      opacity: 0.67; }
  .card .header-line {
    display: flex;
    align-items: center; }
  .card--main-card {
    flex: 1;
    max-height: calc(100% - 16px); }
    .card--main-card .card__content-graph {
      max-height: calc(100% - 112px);
      height: calc(100% - 112px);
      padding: 16px 32px 16px 0; }
      @media (max-width: 800px) {
        .card--main-card .card__content-graph {
          padding: 8px 8px 8px 0; } }
  .card__content {
    display: flex;
    padding: 16px; }
    .card__content--baseline {
      align-items: baseline; }
    .card__content--space-between {
      display: flex;
      justify-content: space-between; }
    .card__content--direction-column {
      flex-direction: column; }
    .card__content__proggress {
      padding: 0 16px 16px 16px; }
    .card__content .half-card {
      text-align: left; }
    .card__content .estimate,
    .card__content .temper {
      opacity: 0.67;
      font-size: 12px;
      margin-bottom: 16px; }
    .card__content .estimate-block,
    .card__content .temper-block,
    .card__content .direction-block {
      padding-right: 16px;
      display: flex;
      align-items: center;
      font-weight: 200; }
      .card__content .estimate-block .time-estimate,
      .card__content .estimate-block .temp-estimate,
      .card__content .temper-block .time-estimate,
      .card__content .temper-block .temp-estimate,
      .card__content .direction-block .time-estimate,
      .card__content .direction-block .temp-estimate {
        font-weight: 600;
        font-size: 24px;
        margin-right: 8px;
        line-height: 36px; }
      .card__content .estimate-block i,
      .card__content .temper-block i,
      .card__content .direction-block i {
        display: block;
        font-size: 36px;
        opacity: 0.67;
        padding-right: 8px; }
    .card__content .direction-block,
    .card__content .step-block {
      padding-right: 0;
      display: block;
      text-align: right; }
      .card__content .direction-block .time-estimate,
      .card__content .direction-block .temp-estimate,
      .card__content .step-block .time-estimate,
      .card__content .step-block .temp-estimate {
        font-weight: 600;
        font-size: 24px;
        margin-right: 8px;
        line-height: 36px; }
    .card__content .current-step,
    .card__content .direction {
      text-align: right;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.67); }
    .card__content .direction {
      margin-bottom: 16px; }
  .card__footer {
    display: flex;
    justify-content: space-between;
    padding: 0 16px 16px 16px; }
    .card__footer .btn {
      text-decoration: none;
      font-weight: 400;
      cursor: pointer;
      font-size: 12px;
      padding: 16px;
      border-radius: 5px;
      color: #fff;
      letter-spacing: 1px;
      transition: 0.25s ease-in-out;
      border: 1px solid #353535; }
      @media (max-width: 800px) {
        .card__footer .btn {
          padding: 16px 8px; } }
    .card__footer .btn-with-icon {
      padding: 12px 16px 8px 16px; }
    .card__footer .btn:hover {
      border: 1px solid #353535;
      box-shadow: 0 0 5px #000; }
    .card__footer .selected {
      opacity: 0.2; }
    .card__footer .green {
      background-color: #4DAE4F;
      border: 1px solid #4DAE4F; }
    .card__footer .red {
      background-color: #F34135;
      border: 1px solid #F34135; }
    .card__footer .blue {
      background-color: #2096F3;
      border: 1px solid #2096F3; }

.prog-item {
  display: block;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid red;
  padding: 16px 0; }
  .prog-item .line {
    display: flex; }

.step-item {
  border-bottom: 1px solid red;
  padding: 8px 0; }
  .step-item .number {
    padding: 16px 0;
    font-size: 24px; }

.no-padding-top {
  padding-top: 0; }

.prog-item:hover {
  background: red; }

.extra-buttons {
  padding-top: 16px;
  background: #171B22;
  position: relative;
  z-index: 1;
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  justify-content: space-between;
  -webkit-animation: slide-bottom-back 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom-back 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

.hidden {
  display: none; }

.visible {
  display: flex; }

.bottom-menu {
  display: flex;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  min-height: 80px;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-top: 1px solid #171B22;
  background-color: #171B22;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 3; }
  .bottom-menu__item {
    color: #fff;
    opacity: 0.67;
    padding: 8px;
    flex-grow: 1;
    text-align: center;
    background: transparent;
    transition: 0.25s ease-in-out; }
    .bottom-menu__item i {
      display: block;
      flex-flow: row;
      font-size: 36px; }
    .bottom-menu__item span {
      padding: 8px 0 0 0;
      font-size: 12px;
      flex-flow: row;
      text-transform: uppercase; }
    .bottom-menu__item--selected {
      opacity: 1;
      color: orange; }
  .bottom-menu .bottom-menu__item:hover {
    cursor: pointer;
    background: #1F252E;
    opacity: 1; }

.fill-space {
  flex: 1 1 auto; }

.temp {
  font-size: 10vw; }

.temp-big {
  font-size: 48px;
  font-weight: 600;
  margin-right: 8px; }

.temp-c {
  font-size: 16px;
  padding-left: 8px; }

.temp-direction {
  font-size: 56px !important;
  padding-right: 0 !important; }

.heating-text {
  opacity: 0.37;
  padding-right: 8px; }

.heating-on {
  color: #F34135; }

.heating-off {
  color: #2096F3; }

.progress-bar {
  width: 100%; }

.blink {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: blink; }

@keyframes blink {
  0% {
    opacity: 1; }
  75% {
    opacity: 1; }
  76% {
    opacity: 0; }
  100% {
    opacity: 0; } }
.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

.slide-bottom-back {
  -webkit-animation: slide-bottom-back 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom-back 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-93px);
    transform: translateY(-93px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(90); } }
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-93px);
    transform: translateY(-93px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@-webkit-keyframes slide-bottom-back {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-93px);
    transform: translateY(-93px); } }
@keyframes slide-bottom-back {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-93px);
    transform: translateY(-93px); } }
.heat-on-bg {
  background: linear-gradient(359deg, #cb0000, #ed6c35, #b6562d);
  background-size: 600% 600%;
  -webkit-animation: HeatOn 10s ease infinite;
  -moz-animation: HeatOn 10s ease infinite;
  animation: HeatOn 10s ease infinite; }

@-webkit-keyframes HeatOn {
  0% {
    background-position: 0% 86%; }
  50% {
    background-position: 100% 15%; }
  100% {
    background-position: 0% 86%; } }
@-moz-keyframes HeatOn {
  0% {
    background-position: 0% 86%; }
  50% {
    background-position: 100% 15%; }
  100% {
    background-position: 0% 86%; } }
@keyframes HeatOn {
  0% {
    background-position: 0% 86%; }
  50% {
    background-position: 100% 15%; }
  100% {
    background-position: 0% 86%; } }
.cooling-on-bg {
  background: linear-gradient(359deg, #0097cb, #6895e9, #2d38b6);
  background-size: 600% 600%;
  -webkit-animation: CoolingOn 10s ease infinite;
  -moz-animation: CoolingOn 10s ease infinite;
  animation: CoolingOn 10s ease infinite; }

@-webkit-keyframes CoolingOn {
  0% {
    background-position: 0% 86%; }
  50% {
    background-position: 100% 15%; }
  100% {
    background-position: 0% 86%; } }
@-moz-keyframes CoolingOn {
  0% {
    background-position: 0% 86%; }
  50% {
    background-position: 100% 15%; }
  100% {
    background-position: 0% 86%; } }
@keyframes CoolingOn {
  0% {
    background-position: 0% 86%; }
  50% {
    background-position: 100% 15%; }
  100% {
    background-position: 0% 86%; } }
.autopilot-on-bg {
  background: linear-gradient(359deg, #00a5cb, #0ece40, #d55235);
  background-size: 600% 600%;
  -webkit-animation: AutoPilot 10s ease infinite;
  -moz-animation: AutoPilot 10s ease infinite;
  animation: AutoPilot 10s ease infinite; }

@-webkit-keyframes AutoPilot {
  0% {
    background-position: 0% 86%; }
  50% {
    background-position: 100% 15%; }
  100% {
    background-position: 0% 86%; } }
@-moz-keyframes AutoPilot {
  0% {
    background-position: 0% 86%; }
  50% {
    background-position: 100% 15%; }
  100% {
    background-position: 0% 86%; } }
@keyframes AutoPilot {
  0% {
    background-position: 0% 86%; }
  50% {
    background-position: 100% 15%; }
  100% {
    background-position: 0% 86%; } }
@keyframes gradient {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 100% 0; } }
.styled-input {
  position: relative;
  display: flex;
  flex-direction: row;
  border-radius: 2px;
  padding: 4px 8px;
  background: rgba(57, 63, 84, 0.8);
  margin-bottom: 16px;
  margin-top: 8px; }

.styled-input-selected:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  height: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-position: 0% 0%;
  background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
  background-size: 500% auto;
  animation: gradient 3s linear infinite; }

.styled-input input {
  flex-grow: 1;
  color: #fff;
  font-size: 16px;
  line-height: 2.4rem;
  vertical-align: middle; }
  .styled-input input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.3); }

/*# sourceMappingURL=stylesv2.css.map */
